Repository Jedimaster4559/CS347Project2, pull requests merged in 2020-11, with the labels that each got.

#8 Main Menu Implementation
  CS347Project2/Assets/Scenes/Start.unity
  CS347Project2/Assets/Scenes/Start.unity.meta
  CS347Project2/Assets/Scripts/MenuHandler.cs
  CS347Project2/Assets/Scripts/MenuHandler.cs.meta
  CS347Project2/Assets/Scripts/VFX.meta
  CS347Project2/Assets/Scripts/VFX/UIPulse.cs
  CS347Project2/Assets/Scripts/VFX/UIPulse.cs.meta
Labels: enhancement, hacktoberfest-accepted

#9 Adding Pause Menus
  CS347Project2/Assets/Scenes/Start.unity
  CS347Project2/Assets/Scripts/MenuHandler.cs
  CS347Project2/Assets/Scripts/PauseMenuSingleton.cs
  CS347Project2/Assets/Scripts/PauseMenuSingleton.cs.meta
Labels: enhancement

#10 This is with the basic enemy's sight and behavior fully functional
  CS347Project2/Assets/Art/bulletf 1.png
  CS347Project2/Assets/Art/bulletf 1.png.meta
  CS347Project2/Assets/Scenes/EE.prefab
  CS347Project2/Assets/Scenes/EE.prefab.meta
  CS347Project2/Assets/Scenes/Map1.unity
  CS347Project2/Assets/Scripts/Bullet.cs
  CS347Project2/Assets/Scripts/Bullet.cs.meta
  CS347Project2/Assets/Scripts/Health.cs
  CS347Project2/Assets/Scripts/Scout.cs
  CS347Project2/Assets/Scripts/Scout.cs.meta
  CS347Project2/Assets/Scripts/Throwable.cs
Labels: art/music, enhancement

#11 Add Health Bars to players and Enemies
  CS347Project2/Assets/Art/Bars.png
  CS347Project2/Assets/Art/Bars.png.meta
  CS347Project2/Assets/Resources.meta
  CS347Project2/Assets/Resources/Prefabs.meta
  CS347Project2/Assets/Resources/Prefabs/Health Bar.prefab
  CS347Project2/Assets/Resources/Prefabs/Health Bar.prefab.meta
  CS347Project2/Assets/Scenes/EE.prefab
  CS347Project2/Assets/Scenes/Map1.unity
  CS347Project2/Assets/Scripts/Health.cs
  CS347Project2/Assets/Scripts/HealthBarConfiguration.cs
  CS347Project2/Assets/Scripts/HealthBarConfiguration.cs.meta
Labels: art/music, enhancement
